@import "./config";

.searchForm {
  padding: 20px 0 20px 20px;
  margin: 0 auto;
}
.searchLabel {
  display:block;
  margin: 0;
  font-weight: normal;
}
.searchInput {
  width: 100%;
}
.searchInput {
  &:focus {
    outline: $brand-secondary;
  }
}

.searchButton {
  width: 100%;
  margin-top: 5px;
  background: $brand-primary;
  border-radius: 2px;
  border: none;
  color: $brand-highlight;
}
.searchList {
  list-style: none;
  padding-left: 20px;
  margin-top:10px;
  li {
    padding: 10px;
    border: 1px solid $brand-tertiary;
    width: 100%;
    color: #6c7880;
    &:hover {
      background: $brand-primary;
      color: $brand-highlight;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 992px) {
  .searchForm {
    padding: 20px 0;
  }
  .searchList {
    padding-left: 0;
    max-height: 200px;
    overflow: scroll;
  }
}
